/*

 For news
 v1.1
 2020.11.08

 */

 body {
     background: #ffffff;
     font-family: 'Montserrat', sans-serif;
     font-style: normal;
     font-weight: 300;
     overflow-x: hidden;
     scroll-behavior: smooth;
     height: 100%;
 }

 .serif_rd{
    font-family: 'Noto Serif SC', serif;
    font-style: normal;
    font-weight: bold;
}
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-style: normal;
     font-weight: 300;
     letter-spacing: 0.5px;
 }
 
 h1 {
     font-size: 4.8rem;
     font-weight: bold;
     letter-spacing: 0.5px;
     margin-top: 60px;
     text-align: left;
     color: #202327;

 }
 
 h2 {
     font-size: 4rem;
     line-height: 6.4rem;
     text-align: left;
     color: #202327;
     font-weight: bold;
 }
 
 h3 {
     font-size: 3.2rem;
     text-align: left;
     color: #202327;
     font-weight: bold;
     line-height: 4.8rem;
 }
 
 h4 {
     color: #202327;
     font-size: 1.5rem;
     font-weight: 400;
     line-height: 2.8rem;
     letter-spacing: 0.5px;
     text-align: left;
 }
 
 h5 {
     color: #202327;
     font-size: 1.8rem;
     font-weight: bold;
     line-height: 2.8rem;
     letter-spacing: 0.5px;
     margin-top: 16px;
     margin-bottom: 16px;
 }
 
 h6 {
     color: #A8B2BA;
     font-size: 1.2rem;
     font-weight: 400;
     line-height: 2rem;
     text-align: left;
     letter-spacing: 0.2px;
 }

 
 p {
     color: #202327;
     font-size: 1.5rem;
     font-weight: 400;
     line-height: 2.8rem;
     letter-spacing: 0.5px;
     text-align: justify;
     text-justify: inter-ideograph;
     margin-top: 12px;
     margin-bottom: 12px;
 }


.logo {
    width: 30%;
    margin-top: 0.8rem;
    margin-bottom: 1.4rem;
}

.flogo {
    width: 30%;
    margin-top: 1.4rem;
}

.wysk{
    float: left;
    display: inline-block;
    width: 120px;
    height: 64px;
    border: 1px dotted #EFF1F2;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.wysk:hover{
    float: left;
    display: inline-block;
    width: 120px;
    height: 64px;
    border: 1px solid #A8B2BA;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.weather{
    float: right;
    display: inline-block;
    }

.lsfc h5{
    margin-top: .8em;
}

.nlines {
    margin: .6em auto;
    text-align: center;
    max-width: 30%;
    border-bottom: 1px solid #EFF1F2;
}

.nlines h5{
    color: #202327;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.8rem;
    letter-spacing: 2px;
    margin-top: 12px;
    margin-bottom: 6px;
}
.hlines {
    margin: .4em auto;
    text-align: center;
    border-bottom: 1px solid #EFF1F2;
}


.tlines {
    margin: .2em auto;
}


.nav-left {
    text-align: left;
}

.nav-right {
    text-align: right;
}

nav {
    border-bottom: 1px solid #A8B2BA;
    border-top: 2px solid #202327;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .1em;
    padding: .6em 0;
    overflow: hidden;
}

nav>span {
    width: 50%;
    float: left;
}

nav>span>a {
    color: #202327;
}

nav>span>a:hover {
    color: #6D7278;
}

.flines {
    margin: .2em auto;
    border-bottom: 2px solid #A8B2BA;
    border-top: 1px solid #EFF1F2;
    font-size: 12px;
    line-height: 24px;
}

.fnlines {
    margin: .2em auto;
    border-bottom: 0px solid #A8B2BA;
    border-top: 1px solid #EFF1F2;
    font-size: 12px;
}


.chajian-left {
    text-align: left;
}

.chajian-right {
    text-align: right;
}

.chajian {
}

.chajian>span {
    width: 50%;
    float: left;
}


.marlr15 {
     margin-left: 15px;
     margin-right: 15px;

 }

 
 .space200 {
     margin-top: 200px;
 }

 .space180 {
     margin-top: 180px;
 }

 .space150 {
     margin-top: 150px;
 }
 
 .space120 {
     margin-bottom: 120px;
 }
 
  .space100 {
     margin-bottom: 100px;
 }

 .space80 {
     margin-bottom: 80px;
 }

 .space60 {
     margin-bottom: 60px;
 }
 
 .space40 {
     margin-bottom: 40px;
 }
 
 .space20 {
     margin-bottom: 20px;
 }
 
 strong {
     font-weight: 400;
 }
 
 svg:not(:root) {
     overflow: hidden;
 }
 
 
 ::selection {
     color: #fff;
     background: #3A4249;
 }
 
 <style>@keyframes fadein {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }
 
 @-webkit-keyframes fadein {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }
 
 @-moz-keyframes fadein {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }
 
 @-o-keyframes fadein {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }
 
 @-ms-keyframes fadein {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }
 
 body {
     animation: fadein 1.2s linear 1;
     -webkit-animation: fadein 1.2s linear 1;
     -moz-animation: fadein 1.2s linear 1;
     -o-animation: fadein 1.2s linear 1;
     -ms-animation: fadein 1.2s linear 1;
 }
 
 </style>
 /*---------------------------------------
General               
-----------------------------------------*/
 
 html {
     -webkit-font-smoothing: antialiased;
 }
 
 a {
     color: #A8B2BA;
     -webkit-transition: 0.2s;
     -o-transition: 0.2s;
     transition: 0.2s;
     text-decoration: none !important;
 }
 
 a:hover,
 a:active,
 a:focus {
     color: #202327;
     outline: none;
 }
 
 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }
 
 *:before,
 *:after {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }
 
 #portfolio,
 #about,
 #blog,
 #contact,
 #single-project,
 #blog-single-post {
     padding-top: 0px;
     padding-bottom: 40px;
 }
 
 .section-title h3 {
     color: #202327;
     font-weight: bold;
     text-align: left;
     letter-spacing: 1px;
 }
 
 .section-title h4 {
     color: #A8B2BA;
     font-weight: bold;
     text-align: left;
     letter-spacing: 1px;
 }
 
 /*---------------------------------------
Blog section              
-----------------------------------------*/

.margintext{
    height: 16em;
}



.p_left{
    font-size: 13px;
    color: #A8B2BA;
    float: left;
    display:inline;
    margin-right: 1em;
}


.p_right{
    font-size: 13px;
    float: right;
    margin-right: 8px;
    display:inline;
    opacity: 0.4;
    color: #ff0000;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor:pointer;
}

.p_right:hover {
    opacity: 1;
    /*background: #f7f8fa;*/
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor:pointer;
}

.newsimg{
    float: right;
    width: 100%;
    margin-left: 0.4em;
    margin-top: 0.8em;
    margin-right: 0.4em;
    opacity: 1;
}

.newsimg:hover{
    opacity: 0.8;
}


 .blog-post-thumb {
     padding: 4px;
     margin-top: 2em;
     margin-bottom: 4em;
     width: 100%;
     height: 22em;
 }

 .blog-post-thumbtop {
     padding: 4px;
     margin-top: 2em;
     margin-bottom: 4em;
     width: 100%;
     height: 28em;
 }

 .blog-post-thumbsh {
     padding: 4px;
     padding-right: 8px;
     margin-top: 2em;
     margin-bottom: 2em;
     width: 100%;
     height: 11em;
     border-bottom: dotted 1px #EAEEF0;
     border-right: dotted 1px #EAEEF0;
 }

 .blog-post-thumbsh img {
     display:block;
     width: 30%;
     height: 50%;
     object-fit:cover
 }

 .blog-post-thumbshone {
     padding: 4px;
     padding-right: 8px;
     margin-top: 2em;
     margin-bottom: 2em;
     width: 100%;
     height: 26em;
     border-bottom: solid 1px #EFF1F2;
     /*border-right:dotted 1px #EFF1F2;*/
 }

 .blog-post-thumbshone img {
     display:block;
     width:100%;
     height: 14em;
     object-fit:cover
 }

.blog-post-thumbshtwo {
     padding: 4px;
     padding-right: 8px;
     margin-top: 2em;
     margin-bottom: 2em;
     width: 100%;
     height: 26em;
     border-bottom: solid 1px #EFF1F2;
     border-right:solid 1px #EFF1F2;
 }

 .blog-post-thumbshtwo img {
     display:block;
     width:100%;
     height: 14em;
     object-fit:cover
 }


 .blog-post-thumbshtt {
     width: 100%;
     height: 6em;
     border-bottom: solid 1px #EFF1F2;
     margin-bottom: 3em;
 }

 .blog-post-thumbshtt h1 {
     -webkit-text-fill-color: transparent;
     -webkit-text-stroke: 1px #202327;
     font-family: 'Noto Serif SC', serif;
     font-style: normal;
     font-weight: bold;
 }
 
 
 .blog-post-image {
     margin-top: 20px;
     padding-bottom: 20px;
     width: 100%;
     -webkit-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
 }
 
 .blog-post-image:hover {
     margin-top: 20px;
     padding-bottom: 20px;
     width: 100%;
     opacity: .4;
 }
 
 .blog-post-title a {
     color: #202327;
 }
 
 .blog-post-title a:hover {
     color: #6D7278;
 }

 .blog-post-title h5{
    height: 48px;
    color: #202327;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 18px;
    letter-spacing: 0.5px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
 }
 

 .blog-one-titleb a {
     color: #202327;
 }
 
 .blog-one-titleb a:hover {
     color: #6D7278;
 }

 .blog-one-titleb h5{
    color: #202327;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
    letter-spacing: 0.5px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
 }

 .blog-one-titleb span{
    font-size: 12px;
    line-height: 32px;
    vertical-align: 10%;
    color:#202327; 
    letter-spacing: 0.5px;
    background: #f2f4f6;
    padding-top: 0.28em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    white-space:nowrap;
 }

 .blog-post-titleb a {
     color: #202327;
 }
 
 .blog-post-titleb a:hover {
     color: #6D7278;
 }

 .blog-post-titleb h5{
    color: #202327;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    letter-spacing: 0.5px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
 }

 .blog-post-titleb span{
    font-size: 12px;
    line-height: 32px;
    vertical-align: 10%;
    color:#202327; 
    letter-spacing: 0.5px;
    background: #f2f4f6;
    padding-top: 0.28em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    white-space:nowrap;
 }

 .news-post-title a {
     color: #202327;
 }
 
 .news-post-title a:hover {
     color: #6D7278;
 }

 .news-post-title h5{
    height: 48px;
    color: #202327;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 24px;
    margin-top: -1.4em;
    letter-spacing: 0.5px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
 }

 .news-one-title a {
     color: #202327;
 }
 
 .news-one-title a:hover {
     color: #6D7278;
 }

 .news-one-title h5{
    height: 54px;
    color: #202327;
    font-size: 2rem;
    font-weight: bold;
    line-height: 26px;
    margin-top: -3.4em;
    margin-bottom: 12px;
    letter-spacing: 0.5px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
 }
 
 
 .blog-post-format span {
     font-size: 13px;
     letter-spacing: 0.5px;
     font-weight: bold;
     color: #6D7278;
 }
 
 .blog-post-format span a {
     color: #202327;
 }
 
 .blog-post-format span img {
     display: inline-block;
     width: 42px;
     margin-right: 4px;
 }

 .blog-post-formatb span {
     font-size: 13px;
     letter-spacing: 0.1em;
     font-weight: bold;
     color: #fff;
     padding: 0.4em;
     background: #202327;
 }

 .blog-post-formatt span {
     font-size: 6.8rem;
     line-height: 0.6em;
     font-weight: 900;
     color: #f4f8fa;
     font-style: italic;
     margin-left: -0.3em;
     -webkit-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;
     user-select:none;
 }

 .blog-one-formatt span {
     font-size: 6.8rem;
     font-weight: 900;
     color: #f4f8fa;
     font-style: italic;
     margin-left: -0.3em;
     -webkit-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;
     user-select:none;
 }
 
 .img-details {
     display: block;
     max-width: 100%;
     height: auto;
     margin-bottom: 30px;
     margin-top: 30px;
 }

 
.pageb {
     border-radius: 0px;
     border-color: transparent;
     color: #202327;
     font-weight: 400;
     letter-spacing: 1px;
     border: 1px solid #A8B2BA;
     padding: 12px 24px;
     margin-left: 8px;
     margin-right: 8px;
     transition: all 0.3s ease-in-out;
 }
 
 .pageb:hover {
     background: #202327;
     border-color: transparent;
     color: #ffffff;
 }


 /*scroll to top */
 
 .scroll-top {
     bottom: 32px;
     font-size: 20px;
     height: 40px;
     position: fixed;
     text-align: center;
     width: 40px;
     z-index: 10;
     cursor: pointer;
     transition: .2s;
     border-radius: 0%;
     line-height: 40px;
     right: -100px;
     color: #fff;
     background-color: #202327
 }
 
 .scroll-top:hover {
     background-color: #3A4249;
     -webkit-transform: translateY(-1px);
     transform: translateY(-1px);
     transition: all .2s ease-in-out;
 }
 
 .scroll-top.active {
     right: 32px;
 }
 /*---------------------------------------
Footer section              
-----------------------------------------*/
 
 footer {
     border-top: 0px solid #f0f0f0;
     padding: 60px 0px;
     position: relative;
 }
 
 footer a {
     color: #A8B2BA;
 }
 
 footer a:hover {
     color: #202327;
 }
 
 footer hr {
     border-color: #ffffff;
     margin-top: 42px;
     margin-bottom: 22px;
 }
 
 footer .footer-copyright {
     padding-top: 22px;
     float: left;
     margin-left: -14px;
 }
 
 footer .footer-lib {
     margin-left: -14px;
 }
 /*---------------------------------------
Social icon             
-----------------------------------------*/
 
 .social-icon {
     position: relative;
     padding: 0;
     margin: 0;
     float: right;
     margin: 22px 12px 10px 12px;
 }
 
 .social-icon li {
     display: inline-block;
     list-style: none;
 }
 
 .social-icon li a {
     color: #A8B2BA;
     font-size: 13px;
     transition: all 0.2s ease-in-out;
     vertical-align: middle;
     position: relative;
 }
 
 .social-icon li a:hover {
     color: #202327;
     transform: scale(1.04);
 }
 /*---------------------------------------
Mobile Responsive         
-----------------------------------------*/
 @media (max-width: 960px) {
     
     h1 {
         font-size: 5.2rem;
         line-height: 6rem;
     }
     h2 {
         font-size: 3.2rem;
         line-height: 4.2rem;
     }
     h3 {
         font-size: 2.2rem;
         line-height: 3.8rem;
     }

     .logo {
    width: 60%;
    margin-top: 0.8rem;
    margin-bottom: 1.4rem;
    }

    .nlines {
    margin: .6em auto;
    text-align: center;
    max-width: 60%;
    border-bottom: 1px solid #EFF1F2;
    }

    .nlines h5{
    color: #202327;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.4rem;
    letter-spacing: 2px;
    margin-top: 12px;
    margin-bottom: 8px;
    }


    .flogo {
    width: 50%;
    margin-top: 1.7rem;
    }

    .wysk{
    overflow: hidden;
    display: none;
    }

    .weather{
    overflow: hidden;
    display: none;
    }
     


 @media (max-width: 767px) {
     
     h1 {
         font-size: 5.2rem;
         line-height: 6rem;
     }
     h2 {
         font-size: 3.2rem;
         line-height: 4.2rem;
     }
     h3 {
         font-size: 2.2rem;
         line-height: 3.8rem;
     }

     .logo {
    width: 80%;
    margin-top: 0.8rem;
    margin-bottom: 1.4rem;
    }

    .nlines {
    margin: .6em auto;
    text-align: center;
    max-width: 80%;
    border-bottom: 1px solid #EFF1F2;
    }

    .nlines h5{
    color: #202327;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-top: 12px;
    margin-bottom: 6px;
    }

    .flogo {
    width: 100%;
    margin-top: 1.7rem;
    }

    .wysk{
    overflow: hidden;
    display: none;
    }

    .weather{
    overflow: hidden;
    display: none;
    }
     

     footer {
         text-align: center;
     }
     footer .col-md-4 {
         padding-top: 42px;
     }